<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182351489547-f3ikuht605kreo2nsmu633gvrshs9j3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182351489547-f3ikuht605kreo2nsmu633gvrshs9j3c</string>
	<key>API_KEY</key>
	<string>AIzaSyB_F55nttNTX_QaEP_b9m34EUP-M716V0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>182351489547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogify</string>
	<key>PROJECT_ID</key>
	<string>blogify-d2042</string>
	<key>STORAGE_BUCKET</key>
	<string>blogify-d2042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182351489547:ios:b5e029df89b4afcca7350e</string>
</dict>
</plist>